body

{

    background-image:url("tlo2.jpg");
    background-size: 1500px;
    text-align: center;
}
h1
{
    border-style:dotted;
    border-radius: 20px;
    background-color: #000000;
    font-family: Arial;
    font-size:30px;
    color: rgb(255, 255, 255);
    text-decoration:underline;
}

h3
{
    border-radius:20px;
    border-style:groove;
    background-color: #080808;
    font-size:23px;
    font-family: Verdana;
    color:rgb(235, 55, 0);
    text-align:center

}
p
{
    text-align:center;
    font-size: 18px;
    font-family: Verdana;color:rgb(0, 0, 0)
    
}
a
{
    color: rgb(33, 30, 180);
    font-size: 20px;
   
   
}

